body {
    font-family: Arial, sans-serif;
    background-color: #328f8a; /* Background color from login CSS */
    background-image: linear-gradient(45deg,#328f8a,#08ac4b); /* Background gradient from login CSS */
    color: #333; /* Text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Container background color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Box shadow */
}

h1 {
    text-align: center;
    color: #328f8a; /* Title color from login CSS */
}

.doctor-details, .patients-list {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/* Adjust the size of the select element */
select {
    width: calc(100% - 22px); /* Adjust width */
    padding: 8px; /* Adjust padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Adjust font size */
    background-color: #f8f8f8; /* Background color */
}

/* Adjust the appearance of the submit button */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #328f8a; /* Submit button background color */
    color: #fff; /* Submit button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Hover color for submit button */
}

