<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/login.css">
<title> Sign Up Screen </title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>Admin SignUp</h3>
                    <p>Please enter your credentials to SignUp.</p>
                </div>
            </div>
            <!-- Modify the form to include a hidden input for the signup type -->
            <form class="login-form" action="/signup" method="post">
                <input type="hidden" name="signupType" value="admin"> <!-- Hidden input field for the signup type -->
                <input type="text" name="name" placeholder="Name">
                <input type="password" name="password" placeholder="Password">
                <button>SignUp</button>
            </form>
            <div class="doctor">
                <a href="/doctor-signup">Doctor SignUp</a>
            </div>
            <div class="patient">
                <a href="/patient-signup">Patient SignUp</a>
            </div>
        </div>
    </div>
</body>
</html>
